<html>
<head>
<script type="text/javascript">
function placeOrder(){
    const xhttp = new XMLHttpRequest();
    const name = document.getElementById("name").value;
    const table = document.getElementById("tableNum").value;
    const order = document.getElementById("order").value;
    let query = `name=${name}&table-num=${table}&order=${order}`
    xhttp.open("GET", `/place-order?${query}`, true);
    xhttp.send(query);
}
</script>
</head>
<body>
    <div id="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <br>
        <label for="tableNum">Table Number:</label>
        <input type="text" id="tableNum" name="tableNum"/>
        <br>
        <label for="order">Your Order:</label>
        <input type="text" id="order" name="order"/>
        <br>
        <button onclick="placeOrder()">Submit Order</button>
    </div>
    <img src="/static/kobuki_drinks.png" alt="kobuki" width="500" 
    height="500">
    <br>
    <font size="7">  
    <p>BARTENDERS</p>
    </font>  
    
    <img src="/static/Sagar.png" alt="Sagar"  width="450" 
    height="500">
    <img src="/static/Max.png" alt="Max"  width="450" 
    height="500">
    <img src="/static/Zak.png" alt="Zak"  width="450" 
    height="500">
    <img src="/static/Amit.png" alt="Amit"  width="450" 
    height="500">
</body>
</html>
