<html>
<head>
<script type="text/javascript">
function placeOrder(){
    const xhttp = new XMLHttpRequest();
    const name = document.getElementById("name").value;
    const table = document.getElementById("tableNum").value;
    //const order = document.getElementsByName("drink").value;
    let order;
    var ele = document.getElementsByName('drink');
    for(i = 0; i < ele.length; i++) {
        if(ele[i].checked) {
            order = ele[i].value;
        }
    }
    let query = `name=${name}&table-num=${table}&order=${order}`;
    xhttp.open("GET", `/place-order?${query}`, true);
    xhttp.send(query);
    alert(`Sent order ${order}`);
}
</script>
</head>
<body>
    <div id="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <br>
        <label for="tableNum">Seat Number:</label>
        <!-- <input type="text" id="tableNum" name="tableNum"/> -->
        <select name="tableNum" id="tableNum">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <br>
        <label for="order">Your Order:</label><br>
        <input type="radio" id="Water" name="drink" value="Water">
        <label for="Water">Water</label><br>
        <input type="radio" id="Orange Juice" name="drink" value="Orange Juice">
        <label for="Orange Juice">Orange Juice</label><br>
        <input type="radio" id="beer" name="drink" value="Beer">
        <label for="beer">Beer</label><br>
        <input type="radio"id="seltzer" name="drink" value="Seltzer">
        <label for="seltzer">Seltzer</label><br>
        <button onclick="placeOrder()">Submit Order</button>
    </div>
    <img src="/static/kobuki_drinks.png" alt="kobuki" width="500" 
    height="500">
    <br>
    <font size="7">  
    <p>BARTENDERS</p>
    </font>  
    
    <img src="/static/Sagar.png" alt="Sagar"  width="450" 
    height="500">
    <img src="/static/Max.png" alt="Max"  width="450" 
    height="500">
    <img src="/static/Zak.png" alt="Zak"  width="450" 
    height="500">
    <img src="/static/Amit.png" alt="Amit"  width="450" 
    height="500">
</body>
</html>
